<nav>
    <div class="site-title">
        <a href="/blogs"><h1>Tutorial blog</h1></a>
        <p>Node tutorial</p>
    </div>
    <ul>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Blog</a></li>
    </ul>
</nav>
